/.DS_Store
meteoride.code-workspace
node_modules
logs
.gitignore.swp
.gitignore
shared_storage/*
scripts/.DS_Store
tools/.DS_Store
package.json
package-lock.json
tools/userscripts/.DS_Store
public/scripts/.DS_Store
functions/.DS_Store
public/.DS_Store
public/en/.DS_Store
old_icons
public/es/.DS_Store
public/assets/.DS_Store
tools/localDEV/pids/caddy.pid
tools/localDEV/pids/share-server.pid
**/.DS_Store