/.DS_Store
__pycache__
meteoride.code-workspace
Caddyfile
.gitignore
node_modules
logs
.gitignore.swp
Caddyfile.local
.gitignore
shared_storage/*
scripts/.DS_Store
shared_storage
tools/.DS_Store
.gitignore
package.json
.gitignore
package-lock.json
share-server.js
tools/userscripts/.DS_Store